::root {
    // color accents
    --clr-white: hsl(0, 0%, 98%); //almost white
    --clr-gray: hsl(0, 0%, 41%); //medium gray
    --clr-blk: hsl(0, 0%, 8%); //almost black

  }

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  line-height: 1.3;
}