::root {
    // color accents
    --clr-white: hsl(0, 0%, 98%); //almost white
    --clr-gray: hsl(0, 0%, 41%); //medium gray
    --clr-blk: hsl(0, 0%, 8%); //almost black
  }

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  // border: 1px dashed black;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  line-height: 1.3;
}

.btn {
  padding: 0.850em;
  width: 15%;
  border-radius: 10px;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-weight: 700;
}

.btn-rounded {
  padding: 0.550em;
  border: 1px solid black;
  border-radius: 10px;
}